<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dora - The explorer">
    <meta name="author" content="PSM Crew">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Dora - API DOC</title>

    <!-- Bootstrap core CSS -->
    <link href="/api_static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/api_static/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="http://github.com/bmc-toolbox/dora">Source</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Dora - API Doc</h3>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <h2>Assets</h2>
          </br>
        </div>
        <div class="col-lg-12">
          <h4>Supported assets types and their relationships</h4>
          </br>
          <h6>chassis</h6>
          <p class="small">blades: one to many</p>
          <p class="small">nics: one to many</p>
          <p class="small">psu: one to many</p>
          </br>
          <h6>blades</h6>
          <p class="small">disks: one to many</p>
          <p class="small">nics: one to many</p>
          <p class="small">chassis: one to one</p>
          </br>
          <h6>discretes</h6>
          <p class="small">disks: one to many</p>
          <p class="small">nics: one to many</p>
          <p class="small">psus: one to many</p>
          </br>
          <h6>nics</h6>
          <p class="small">chassis: unique</p>
          <p class="small">discretes: unique</p>
          <p class="small">blades: unique</p>
          </br>
          <h6>disks</h6>
          <p class="small">discretes: unique</p>
          <p class="small">blades: unique</p>
          </br>
          <h6>psus</h6>
          <p class="small">chassis: unique</p>
          <p class="small">discretes: unique</p>
          </br>
        </div>
        <div class="col-lg-12">
          </br>
        </div>
        <div class="col-lg-12">
          <h4>Endpoints and queries</h4>
          </br>

          <h6>/v1/${asset_type}</h6>
          <p class="small">List all ${asset_type}</p>
          <p class="small">eg: /v1/blades</p>
          </br>
          <h6>/v1/${asset_type}?include=${relationship}</h6>
          <p class="small">List all ${asset_type} including the ${relationship} objects in the response (we only support top to bottom include)</p>
          <p class="small">eg: /v1/chassis?include=blades</p>
          </br>
          <h6>/v1/${asset_type}?page[offset]=0&page[limit]=2</h6>
          <p class="small">List all ${asset_type} and paginate the response</p>
          <p class="small">eg: /v1/disks?page[offset]=0&page[limit]=2</p>
          </br>
          <h6>/v1/${asset_type}/:id/</h6>
          <p class="small">Retrieve a ${asset_type} object by its :id</p>
          <p class="small">eg: /v1/psus/176qq52_psu_1</p>
          </br>
          <h6>/v1/${asset_type}/:id/${relationship}</h6>
          <p class="small">Retrieve all the related ${relationship} object of a ${asset_type} object by its :id</p>
          <p class="small">eg: /v1/psus/176qq52_psu_1/chassis</p>
          </br>
          <h6>/v1/${asset_type}?filter[:field1]=:value1,:values2</h6>
          <p class="small">Retrieve ${asset_type} filtering by fields exposed via api</p>
          <p class="small">eg: /v1/disks?filter[model]=vk000240gwjpd,vk000480gwjpe&filter[status]!=OK</p>
        </div>
           <div class="col-lg-12">
        </br>
        </div>
        <div class="col-lg-12">
           </br>
        </div>
        <div class="col-lg-12">
           </br>
        </div>
        <div class="col-lg-12">
           <h2>Scanned ports</h2>
           </br>
        </div>
        <div class="col-lg-12">
          <h4>Endpoints and queries</h4>
          </br>

          <h6>/v1/scanned_ports</h6>
          <p class="small">List all scanned ports</p>
          </br>
          <h6>/v1/scanned_ports?page[offset]=0&page[limit]=2</h6>
          <p class="small">List all scanned ports and paginate the response</p>
          </br>
          <h6>/v1/scanned_ports?filter[:field1]=:value1,:values2</h6>
          <p class="small">List all scanned ports filtering by fields exposed via api</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; PSM Crew @ Booking.com 2018</p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/api_static/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

